html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: tomato;
    display: grid;
    grid-template-columns: 100px 50px 80px 200px;
    grid-template-rows: 80px 100px 100px;
    grid-gap: 20px 10px;
}

.box1 {
    background-color: lightgray;
    border: 1px solid darkgray;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.box2 {
    background-color: lightgray;
    border: 1px solid darkgray;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}


/* ABREVIAÇÃO DAS PROPRIEDADES ACIMA:

.box1 {
    background-color: lightgray;
    border: 1px solid darkgray;
    grid-column: 1/5;
    grid-row: 3/4;
}

.box2 {
    background-color: lightgray;
    border: 1px solid darkgray;
    grid-column: 3/5;
    grid-row: 1/3;
}

*/